@import './mixins';
@import './reset';
@import './vars';


body {
    background-color: $white;
}
.header {
    @include flex(space-between, center, 0);
    padding: 50px 160px 5px 160px;
    &__wrap {
        @include flex(center, center, 18px);
        flex-direction: column;
        z-index: 1000;
    }
    &__container {
        @include flex(center, center, 6px);
    }
    &__language {
        @include flex(center, center, 0);
    }
    &__language-box {
        padding: 5px 7px;
    }
    &__language-link {
        @include montserrat(12px, 700, 18px);
        color: $grey-text;
    }
    &__language-box:active {
        background-color: $Accent;
        border-radius: 8px;
    }
    &__text {
        @include montserrat(16px, 400, 18px);
        color: $grey-text;
    }
    &__tell {
        @include montserrat(16px, 700, 18px);
        color: $grey-text;
    }
}
.mobile-services {
    display: none;
}
.mobile-hamburger {
    display: none;
}
.nav__list {
    @include flex(center, center, 15px);
}
.nav__link {
    @include montserrat(16px, 700, 18px);
    color: $active-regular;
}
.nav__link:active {
    color: $Accent;
    text-decoration: underline;
}
.logo {
    display: flex;
}
.logo__about {
    @include montserrat(36px, 400, 18px);
    @include flex(center, center, 0px);
    color: $main-regular;
}
.section1 {
    display: flex;
    gap: 30px;
    padding: 60px 280px;
}
.section1-container1 {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.section1-container1__title {
    @include montserrat(38px, 700, 18px);
    color: $Accent;
}
.section1-container1__text {
    @include montserrat(19px, 400, 30px);
    width: 61%;
}
.section1-container2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-left : 2px solid $grey-separator;
}



.footer {
    @include flex(flex-start, flex-start, 30px);
    padding: 30px 160px;
    background-color: $grey-bg;
    &__line {
        height: 4px;
        background-color: $grey-separator;
    }
    &-container {
        @include flex(space-between, flex-start, 0px);
        width: 100%;
    }
    &-container__text-box {
        @include flex(flex-start, flex-start, 21px);
        flex-direction: column;
    }
    &-container__place {
        @include flex(flex-start, center, 10px);
    }
    &-container__place-text {
        @include montserrat(16px, 400, 18px);
        color: $main-regular;
    }
    &-container__active-text {
        @include montserrat(12px, 700, 18px);
        color: $active-regular;
    }
    &-container__social {
        @include flex(flex-start, center, 10px);
    }
    &-container__social-tell {
        @include montserrat(16px, 700, 18px);
        color: $main-alt;
    }
    &-container__social-email {
        @include montserrat(16px, 700, 18px);
        color: $active-regular;
    }
}